.nav{

   &--mobile{
      display: none;
      margin: 3rem 0;
   }

   // &--logout{
   //    position: relative;
   // }

   @include brakepoint($tablet-bp){
      display: none;

      &--mobile{
         display: block;
        
      }
   }
}
.nav__list{
   display: flex;

   @include brakepoint($tablet-bp){
      flex-direction: column;
      margin-left: 20px;
   }

   &--admin{
      display: inline-block;
      margin-top: 100px;
      width: 100%;

      @include brakepoint($tablet-bp){
         margin-top: 20px;
       }
   }
}

.nav__item{
   position: relative;
   &:hover{
      .nav__link{
         background-color: #3137c9;
      }
      > .subnav{
         display: block;
      }
   }

   @include brakepoint($tablet-bp){
      &:hover{
         .nav__link{
            background: none;
         }
         
      }
   }
}

.nav__link{
   display: block;
   padding: 1.35rem;
   font-size: 1.1rem;
   line-height: 1.2;
   text-transform: uppercase;
   color: $white;
   text-decoration: none;
   transition: background-color .2s linear;

   &.has-subnav{
      position: relative;
      padding-right: 3.3rem;
      &::after{
         content: "";
         display: block;
         margin-top: 2px;
         border-style: solid;
         border-width: 6px 5px 0 5px;
         border-color: $white transparent transparent transparent;
         position: absolute;
         top: 50%;
         right: 1.35rem;
         transform: translateY(-50%);
      }
   }

   @include brakepoint($tablet-bp){
      padding-left: 0;
      padding-right: 0;

      font-size: 1.6rem;
}

&--admin{
   font-size: 1.4rem;
   line-height: 1.2;
}

&--admin i {
   padding-right: 10px;
}
}



.subnav{
   width: 16.5rem;
   padding: .5rem 0;
   background-color: #3137c9;
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   border-radius: 0 0 5px 5px;
   box-shadow: 0 6px 8px rgba($black,.2);

   @include brakepoint($tablet-bp){
      position: static;
      width: 100%;
      padding-left: 2rem;
      background-color: transparent;
      box-shadow: none;
   }
}
.subnav__link{
   display: block;
   padding: .45rem 1.2rem;
   color: $white;
   font-size: 1.2rem;
   text-decoration: none;
   transition: background-color .1s linear;

   &:hover{
      
      background-color: darken(#3137c9,5%);
   }

   @include brakepoint($tablet-bp){
      padding-left: 0;
      padding-right: 0;
      font-size: 1.4rem;

      &:hover{
         background: none;
      }
   }
}